node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
firebaseDb.js
firebaseConfig.js
google-services.json
pearlopoly-firebase-adminsdk.json

# macOS
.DS_Store
